nav a{
    color:  #646464;
    margin: 20px;
    text-decoration: none;
    font-family: Arial;
    font-size: small;
}
body{
    margin: 0px;

}
nav{
    display: flex;
    flex-flow: row-reverse;
    background-color: white;

}
nav a:hover{
    color: black;
    text-decoration: underline;
}